<h3>Pending Invites</h3>
<%@pending.each do |pending|%>
	<%=pending[0]%><br><%=pending[1]%><br><%=pending[2]%><br>
<%end%>

<h3>Accepted Invites</h3>
<%@accepted.each do |accepted|%>
	<%=accepted[0]%><br><%=accepted[1]%><br><%=accepted[2]%><br>
<%end%>
