<div class = "whole_detail_div">
  <div>
    <ul class ="nav nav-tabs">
      <%if check_admin%>
        <li ><a href="/admin/dashboard"> DashBoard </a></li>
      <%else%>  
        <li ><a href="/users/home "> DashBoard </a></li>
      <%end%>
      <li><a href="/users/invite">Invitation </a></li>
      <li class="active" ><a href="/users/profile">Profile</a>  </li>
    </ul>
  </div>  
  <div class="well">
    <ul class="nav nav-tabs">
      <li><a href="/users/profile/edit_personal">personal</a></li>
      <li><a href="/users/profile/edit_professional">Professional</a></li>
      <li class ="active"><a href ="/users/profile/edit_password">Change Password</a></li>
    </ul>
    <div class="update_field"> 
		  <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
  			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br>
  			<%= f.password_field :current_password %>
    		
        <%= f.label :password, "Password" %><br />
    		<%= f.password_field :password  %>
    		<%= f.label :password_confirmation %><br />
    		<%= f.password_field :password_confirmation %>
        <div>
    		  <%= f.submit "Update Password" %>
        </div>
  		<% end %>
	  </div>
  </div>  
</div>  