<div class = "whole_detail_div">
	<div>
		<ul class ="nav nav-tabs">
			<%if check_admin%>
				<li ><a href="/admin/dashboard"> DashBoard </a></li>
			<%else%>	
				<li ><a href="/users/home "> DashBoard </a></li>
			<%end%>
			<li><a href="/users/invite">Invitation </a></li>
			<li class="active" ><a href="/users/profile">Profile</a>  </li>
		</ul>
	</div>	
	<% @action ="update" %>
	<div class="well">
		<ul class="nav nav-tabs">
			<li><a href="/users/profile/edit_personal">personal</a></li>
			<li class ="active"><a href="/users/profile/edit_professional">Professional</a></li>
			<li><a href ="/users/profile/edit_password">Change Password</a></li>
		</ul>
		<div class="tab-content">
			<div>
				<div style="float:left">
					<%= form_for @user_details , :url => {:action => @action} do |f| %>
						<%= f.hidden_field :id %>
						<%= f.label :company_name, "Company Name" %>
						<%= f.text_field :company_name %>
						<%= f.label :company_address, "Comapny Addrress" %>
						<%= f.text_area :company_details , size:'10x6' %>
						<%= f.label :designation, "Designation" %>
						<%= f.text_field :designation %>
						<div>
							<%= f.submit "Update"%> 
						</div>
				</div>		
						<div id="sync_profiles"> 
							<strong>Sync Profiles using</strong><br>
							<li id="sync_google"><%= link_to "Google ", users_sync_with_google_path ,:class=>"btn btn-success"%></li>
							<li id="sync_linked_in"><%= link_to "Linkedin ", users_sync_with_linkedin_path ,:class=>"btn btn-success"%></li>
							<li id="sync_facebook"><%= link_to "Facebook ", users_sync_with_fb_path ,:class=>"btn btn-success"%></li>
						</div>	
					<%end%>
				
			</div>
		</div>
	</div>
</div>