<div class="whole_detail_div">

	<div>
			<ul class ="nav nav-tabs">
				<%if check_admin%>
					<li><a href="/admin/dashboard"> DashBoard </a></li>
				<%end%>
				<li><a href="/users/profile"> Profile </a></li>
				<%if have_permissions(1)%>
					<li><a href="/admin/functional_admin">Functional Admins </a></li>
				<%end%>
				<%if have_permissions(2)%>	
					<li class="active"><a href="/admin/users/user_group">User Groups</a>  </li>
				<%end%>
				<%if have_permissions(3)%>	
					<li><a href="/admin/invitations">Invitations</a>  </li>	
				<%end%>	
				<%if have_permissions(4)%>	
					<li><a href="/admin/investment">Investments</a>  </li>
				<% end %>	
				<%if have_permissions(5)%>	
					<li><a href="/admin/cms/faq">FAQ</a>  </li>
				<% end %>	
				<%if have_permissions(6)%>	
					<li><a href="/content">Content management</a>  </li>
				<% end %>	
			</ul>
		</div>	
		<div>
			</ul>
			<ul class="nav nav-tabs">
				<li style="width:120px; text-align:center;">
					<a href="/admin/users/user_group">List</a>
				</li>
				<li class="active" >
					<a href="/admin/users/ability" >Roles</a>
				</li>
			</ul>
			<div class="index_contents">
				<div class="span10 well">
					<%=form_for @ability , :url =>{:controller => "ability" , action: "update"} , :method => "post" do |f|%>
						<div>
							<%=hidden_field_tag :id,@ability.id%> 
							<%=f.label :name, "Control Name " %> <%= f.text_field :name %> 
							<%= f.label :remark, "Remark" %> <%= f.text_field :remark %>
							<br>

							<div>
								<h6>Mark functions :</h6>
								<%@functions.each do |function|%>
									<%if @current_functions.member?"#{function.id}"%>								
										<%= check_box_tag 'functions[]', function.id, :checked=>true %>
									<%else%>
										<%= check_box_tag 'functions[]', function.id %>	
									<%end%>	
						      <%= function.name %> - <%=function.description%>
						      <br><br>
						    <%end%>
					  	</div>

							<%= f.submit%>
						</div>
					<% end -%>
				</div>
			</div>
		</div>
	</div>			
</div>							
		
