<ul class="nav nav-tabs">
  <li class="active"><a href="/admin/investment/asset_class/" >Set Asset Class</a></li>
  <li><a href="/admin/investment/asset_class/set_time_periods" >Set Time Periods</a></li>
  <li><a href="/admin/investment/asset_class/view_matrics" >View Matrics</a></li>
</ul>

<div id="new_asset_class">

</div>

<div id="asset_class_upload">

</div>

	<div id="set_asset_class">
		<div style="font-weight : bold;">
			Set Asset Classes
		</div>
		
		<div id="asset-headings">
			<div class="asset-heading">Main Asset Class</div>
			<div class="asset-heading">Sub Asset Class</div>
			<div class="asset-heading">Benchmark</div>
			<div class="asset-heading_action">Actions</div>	
		</div>

	
	<% @asset_classes.each do |asset_class| %>
		<div id="asset_class_content">
			<div class="asset_content_values">
				<%= asset_class.main_asset_class.blank? ? '&nbsp;'.html_safe : asset_class.main_asset_class %>
			</div>
			<div class="asset_content_values">
				<%= asset_class.sub_asset_class.blank? ? '&nbsp;'.html_safe  : asset_class.sub_asset_class %>
			</div>
			<div class="asset_content_values">
				<%= asset_class.benchmark.blank? ? '&nbsp;'.html_safe : asset_class.benchmark %> 
			</div>
			<div class="asset_content_values_action">
				<div id="asset_content_upload">
					<%= link_to 'Upload',"/admin/investment/asset_class_file/#{asset_class.id}" , :remote=> true%>
				</div>
				<div id="process_data_points">
					<%= link_to 'Process Data Points',"/admin/investment/asset_class/process_file_data_points/#{asset_class.id}"%>
				</div>
				<div id="asset_content_links">
	  			<%= edit_asset_class(asset_class.id)%> / <%= delete_asset_class(asset_class.id) %> / <%= flush_asset_class(asset_class.id) %>
				</div>
			</div>
		</div>
	<% end %>

	<div id="new_asset_class">
		<%= new_asset_class %>
	</div>
</div>


<div id="asset_class_datas">
	<div>
		<strong>Asset Class datas</strong>
	</div>

	<% @asset_classes.each do |asset_class| %>
		<div id="main_class_name">	
			<%= "#{asset_class.main_asset_class}-#{asset_class.sub_asset_class}" %>
		</div>
		
		<div id="main_class_count">
			<%= asset_class.asset_datas.count%> Data Points
		</div>

		<div>
			<div id="asset_class_details"> 
				<%= asset_class.asset_datas.count %> Days 
			</div>
			<div id="asset_class_details"> 
			 <%= asset_class.no_of_months %> Months 
			</div>
			<div id="asset_class_details"> 
			 <%= asset_class.no_of_years %> Years 
			</div>
		</div>

		<div>
			<div id="asset_class_date_start">
				Opening Date: <%= asset_class.asset_datas.order("DATE ASC").first.date.to_date unless asset_class.asset_datas.blank? %>
			</div>
			<div id="asset_class_date_end">
				Closing Date: <%= asset_class.asset_datas.order("DATE DESC").first.date.to_date unless asset_class.asset_datas.blank? %>
			</div>	
		</div>
	<% end %>
</div>
