<div>
	<%= f.label :address, "Address" %>
	<%= f.text_area :address  , size:'10x5'%>
</div>
<div>
	<%= f.label :location, "City" %>
	<%= f.text_field :location %>
</div>
<div>
	<%= f.label :state, "State" %>
	<%= f.text_field :state %>
</div>
<div>
	<%= f.label :country, "Country" %>
	<%= f.text_field :country %>
</div>