
 <div class = "whole_div" widht ="50px"> 
 	
 	<div id="advisor_index">
	  <%= button_to 'Add Client' , advisor_personal_new_path,:class => "btn btn-success" %> 


		<div class = "table_div" >
			<table cellpadding="0" style="text-align:center" cellspacing="0" border="3px" class="table table-striped table-bordered" id="example landing">
				<thead>
				<tr>
	        <th style="width: 20%"><h6> Client Code</h6></th>
	        <th style="width: 20%"><h6>Client Name</h6></th> 
	        <th style="width: 20% ;text-align:center"><h6>Profiling</h6></th>
	        <th style="width: 40%"><h6>Date Created</h6></th>
	      </tr>
	      </thead>
	      <tbody>
		 		<% @users.each do |user| %>
		 		<tr>
		 			<td><%= user.id%> </td>
		 			<td><%=advisor_view_details(user) %></td>
		 			<td style="text-align:center"><%= advisor_profiling(user) + view_profiling(user) %></td>
		 			<td ><%= user.created_at.to_date %></td>
		 			<% end -%>
		     </tr> 
		    </tbody>   
		  </table>
		</div>
	</div>
</div>	